<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Book Store</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body class="">
<div class="container ">
    <h3>Book Store</h3>
    <hr>
    <div>
        <div style="float:left">
        User: <span sec:authentication="name"></span>
        <br>
        Role(s): <span sec:authentication="principal.authorities"></span>
        </div>
        <div style="float:right">
            <!-- Add a logout button -->
            <form action="#" th:action="@{/logout}" method="POST">

                <input type="submit" value="Logout" class="btn btn-outline-primary mt-2" />

            </form>

        </div>
        <br> <br>
    </div>
    <br><br>
    <div>

    <!-- Add a button -->
    <a th:href="@{/customers/add(bookId=${book.id})}"
       class="btn btn-primary btn-sm mb-3">
        Add Customer
    </a>
    </div>
    <table class="table table-bordered table-striped ">
        <thead class="thead-dark">
        <tr>
            <th>Book Title</th>
            <th>Customer Name</th>
            <th>Mobile Number</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer : ${customers}">
            <td th:text="${book.title}" />
            <td th:text="${customer.name}" />
            <td th:text="${customer.mobileNumber}" />
            <td>
                <a th:href="@{/customers/update(customerId=${customer.id},bookId=${book.id})}" class="btn btn-info btn-sm">
                    Update
                </a>
                <div sec:authorize="hasRole('ROLE_ADMIN')" style="display:inline-block">
                <a class="btn btn-danger btn-sm" th:href="@{/customers/delete(customerId=${customer.id},bookId=${book.id})}"
                   onclick="if(!(confirm('Are you sure you want to delete this owner?'))) return false">
                    Delete
                </a>
                </div>
            </td>

        </tr>
        </tbody>
    </table>

    <hr>
    <a th:href="@{/books/list}">Back to Books List</a>
    <br>
    <br>

</div>

</body>
</html>